.my-sqsrte-small{
    position: relative;
    float: left;
    margin-top: -13%
}

.my-btn-div{
    position: relative;
    float: left;
    margin-top: -8%;
}
#my-title{
    width: 166px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #515151;
    line-height: 22px;
}

#my-title2{
    width: 91px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(81, 81, 81, 0.45);
    line-height: 20px;
}

#my-title3{
    width: 266px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #515151;
    line-height: 20px;
}

#my-title5{
    width: 144px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #515151;
    line-height: 22px;
}

#my-title6{
    width: 114px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(81, 81, 81, 0.45);
    line-height: 20px;
}

#my-title7{
    width: 476px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #515151;
    line-height: 20px;
}


#my-title9{
    width: 160px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #515151;
    line-height: 22px;
}

#my-title10{
    width: 111px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(81, 81, 81, 0.45);
    line-height: 20px;
}

#my-title11{
    width: 547px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #515151;
    line-height: 20px;
}
#my-title12{
    width: 176px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #515151;
    line-height: 22px;
}
#my-title13{
    width: 111px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(81, 81, 81, 0.45);
    line-height: 20px;
}
#my-title14{
    width: 424px;
    height: 20px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #515151;
    line-height: 20px;
}

